* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: ghostwhite;
}
h1 {
    text-transform: uppercase;
    font-size:2em;
}
h2 {
    font-size:1.5em;
}
a {
    text-decoration: none;
    color:white;
    font-weight: 200;
    letter-spacing: 1.6px;
    font-size:1.2em;
}
.main-navigation {
    width:100%;
}
.container 
{
    padding-left:200px;
    padding-right:200px;
    width:100%;
    margin-bottom:20px;
}

.top-header 
{
    padding:50px;
    display:flex;
    width:100%;
    justify-content: space-between;
}


.top-header ul {
   
    
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    
}
.top-header ul li {
    padding-left:30px;
}
.top-header ul li a {
    color:black;
}
img {
    object-fit: cover;
    width:100%;
    max-width:100%;
}
.main-navigation ul {
  
   
  
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;

}
.main-navigation ul li a {
    color:black;
}

.hero .container  {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}

#banner
{
    margin-top:20px;    
    grid-column: 1 / 4;
    width:100%;
    height:400px;
  
}

.banner-text {

    font-size:1.5em;
    color:white;
    justify-self: center;
    align-self: center;
    position:absolute;
    top:18em;
}
.banner-text {
    justify-self: center;
    align-self: center;
    width:100%;
  
}
.hero .container img {
    width:100%;
    height:100%;
    filter:brightness(50%);
}

.img-box {
    z-index: 0;
    position: relative;
    width:100%;
    height:400px;
   
    display:flex;
    justify-content: center;
    align-content: center;
}

.inner-text {
    color:white;
    text-transform: uppercase;
    
}

.txt-box 
{
    width:100%;
    text-align: center;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index:1;
  
}

.logo {
 
   
}


.company-info .container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap:10px;
}

.company-info .container .grid-item:nth-child(1){
    padding:100px;
   
    grid-column: 1 / 4;
}
.company-info .container .grid-item:nth-child(2){
    grid-column: 4 / 7;
}


.mt-1 {
    margin:1em;
}

.btn {
    padding:20px;
    background-color: crimson;
    text-transform: uppercase;
}